In [ ]:
#STRING BASED PRACTICE PROBLEMS

In [ ]:
#1 Write a program to reverse a string

In [ ]:
s=input("Enter a string : ")
print("The reverse of entered string is : ",s[::-1])

In [ ]:
#2 Check if a string is a palindrome

In [ ]:
s1=input("Enter a string : ")
if s1==s1[::-1]:
    print("Entered string is palindrome")
else:
    print("Entered string is not palindrome")

In [ ]:
#3 Convert a string to uppercase

In [ ]:
s2=input("Enter a string : ")
print(s2.upper())

In [ ]:
#4 Convert a string to lowercase

In [ ]:
s3=input("Enter a string : ")
print(s3.lower())

In [ ]:
#5 Count the number of vowels in a string

In [ ]:
s4=input("Enter a string : ")
a=s4.lower()
l=["a","e","i","o","u"]
sum1=0
for i in a:
    if i in l:
        sum1+=1
print("The number of vowels in the Entered string = ",sum1)

In [ ]:
#6 Count the number of consonants in a string

In [ ]:
s5=input("Enter a string : ")
b=s5.lower()
l2=["a","e","i","o","u"]
sum2=0
for i in b:
    if i in l2:
        continue
    else:
        sum2+=1
print("The number of consonants in the Entered string = ",sum2)

In [ ]:
#7 Remove all whitespaces from a string

In [ ]:
s6=input("Enter a string : ")
print(s6.replace(" ",""))

In [ ]:
#8 Find the length of a string without using the `len()` function

In [ ]:
s7=input("Enter a string : ")
length=0
for i in s7:
    length+=1
print("Length of the Entered string = ",length)

In [ ]:
#9 Check if a string contains a specific word

In [ ]:
s8=input("Enter a string : ")
w=input("Enter the specific word to be checked : ")
sp=s8.split(" ")
if w in sp:
    print(w," is present in Entered string")
else:
    print(w," is not present in Entered string")

In [ ]:
#10 Replace a word in a string with another word

In [ ]:
s9=input("Enter a string : ")
r0=input("Enter the word to be replaced : ")
r1=input("Enter the new word : ")
if r0 in s9:
    p=s9.replace(r0,r1)
    print(p)
else:
    print("Replacement cannot be done")

In [ ]:
#11 Count the occurrences of a word in a string

In [ ]:
s0=input("Enter a string : ")
c0=input("Enter the word to be counted : ")
if c0 in s0:
    p=s0.count(c0)
    print(p)
else:
    print("Counting cannot be done")

In [ ]:
#12 Find the first occurrence of a word in a string

In [ ]:
st=input("Enter a string : ")
o0=input("Enter the word : ")
if o0 in st:
    o=st.find(o0)
    print(o0," found at position ",o+1)
else:
    print("Word cannot be found")

In [ ]:
#13 Find the last occurrence of a word in a string

In [ ]:
str=input("Enter a string : ")
o1=input("Enter the word : ")
if o1 in str:
    oo=str.rfind(o1)
    print(o1,"'s last occurance is at position ",oo+1)
else:
    print("Word cannot be found")

In [ ]:
#14 Split a string into a list of words

In [ ]:
str1=input("Enter a string : ")
p=str1.split(" ")
print(p)
print(type(p))

In [ ]:
#15 Join a list of words into a string

In [ ]:
lst=['hello','world','welcome', 'to', 'pwskills']
for i in lst:
    print(i,end=" ")

In [ ]:
#16 Convert a string where words are separated by spaces to one where words are separated by underscores

In [ ]:
str2=input("Enter a string : ")
print(str2.replace(" ","_"))

In [ ]:
#17 Check if a string starts with a specific word or phrase

In [ ]:
str3=input("Enter a string : ")
sp=input("Enter the specific word : ")
print(str3.startswith(sp))

In [ ]:
#18 Check if a string ends with a specific word or phrase

In [ ]:
str4=input("Enter a string : ")
sp1=input("Enter the specific word : ")
print(str4.endswith(sp1))

In [ ]:
#19 Convert a string to title case (e.g., "hello world" to "Hello World")

In [ ]:
str5=input("Enter a string : ")
print(str5.title())

In [ ]:
#20 Find the longest word in a string

In [ ]:
a=input("Enter a string : ")
b=a.split(" ")
p=b[0]
for i in b:
    if (len(i)>len(p)):
        p=i
print(p)

In [ ]:
#21 Find the shortest word in a string

In [ ]:
a=input("Enter a string : ")
b=a.split(" ")
p=b[0]
for i in b:
    if (len(i)<len(p)):
        p=i
print(p)

In [ ]:
#22 Reverse the order of words in a string

In [ ]:
a=input("Enter a string : ")
c=a.split(" ")
b=c[::-1]
print(" ".join(b))

In [ ]:
#23 Check if a string is alphanumeric

In [ ]:
a=input("Enter a string : ")
print(a.isalnum())

In [ ]:
#24 Extract all digits from a string.

In [ ]:
a=input("Enter a string : ")
for i in a:
    if i.isdigit():
        print(i,end=" ")

In [ ]:
#25 Extract all alphabets from a string

In [ ]:
a=input("Enter a string : ")
for i in a:
    if i.isalpha():
        print(i,end=" ")

In [ ]:
#26 Count the number of uppercase letters in a string

In [ ]:
a=input("Enter a string : ")
count=0
for i in a:
    if i.isupper():
        count+=1
print("The number of uppercase letters = ",count)

In [ ]:
#27 Count the number of lowercase letters in a string

In [ ]:
a=input("Enter a string : ")
count=0
for i in a:
    if i.islower():
        count+=1
print("The number of lowercase letters = ",count)

In [ ]:
#28 Swap the case of each character in a string

In [ ]:
a=input("Enter a string : ")
print(a.swapcase())

In [ ]:
#29 Remove a specific word from a string

In [ ]:
a=input("Enter a string : ")
b=input("Enter a word to be removed : ")
print(a.replace("b"," "))

In [ ]:
#30 Check if a string is a valid email address

In [ ]:
a=input("Enter a string : ")
em="@gmail.com"
print(a.endswith(em))

In [ ]:
#31 Extract the username from an email address string.

In [ ]:
a=input("Enter your email : ")
username=a.split('@')[0]
print("Your username = ",username)

In [ ]:
#32 Extract the domain name from an email address string

In [ ]:
a=input("Enter your email : ")
username=a.split('@')[1]
print("Your domain = ",username)

In [ ]:
#33 Replace multiple spaces in a string with a single space

In [ ]:
a=input("Enter your email : ")
b=a.split()
print(" ".join(b))

In [ ]:
#34 Check if a string is a valid URL

In [ ]:
a=input("Enter your URL : ")
print(a.startswith("http://"))

In [ ]:
#35 Extract the protocol (http or https) from a URL string

In [ ]:
a=input("Enter your URL : ")
print(a.split("://")[0])

In [ ]:
#36 Find the frequency of each character in a string

In [ ]:
a=input("Enter a string : ")
for i in a:
    print("frequency of",i," = ",a.count(i))

In [ ]:
#37 Remove all punctuation from a string

In [ ]:
a=input("Enter a string : ")
b=a.replace(",","")
c=b.replace(".","")
d=c.replace("?","")
e=d.replace("!","")
f=e.replace(";","")
g=f.replace(":","")
h=g.replace("/","")
print(h.replace("'",""))

In [ ]:
#38 Check if a string contains only digits

In [ ]:
a=input("Enter a string : ")
print(a.isdigit())

In [ ]:
#39 Check if a string contains only alphabets

In [ ]:
a=input("Enter a string : ")
print(a.isalpha())

In [ ]:
#40 Convert a string to a list of characters

In [ ]:
a=input("Enter a string : ")
print(list(a))

In [ ]:
#41 Check if two strings are anagrams

In [ ]:
a=input("Enter a string : ")
b=input("Enter a string : ")
c=(sorted(list(b)))
d=(sorted(list(a)))
if c==d:
    print("Entered two strings are anagrams")
else:
    print("Entered two strings are not anagrams")

In [ ]:
#42 Encode a string using a Caesar cipher

In [ ]:
sentence=input("Enter the sentence : ")
shift=int(input("Enter the shift"))
encrypted_text = ""
for char in sentence:
    if char.isalpha():
        # Shift only alphabetical characters
        shifted_char = chr((ord(char) - 65 + shift) % 26 + 65) if char.isupper() else chr((ord(char) - 97 + shift) % 26 + 97)
        encrypted_text += shifted_char
    else:
        # Keep non-alphabetic characters unchanged
        encrypted_text += char

print("Encrypted text:", encrypted_text)

In [ ]:
#43 Decode a Caesar cipher encoded string

In [ ]:
sentence=input("Enter the sentence : ")
shift=int(input("Enter the shift"))
encrypted_text = ""
for char in sentence:
    if char.isalpha():
        # Shift only alphabetical characters
        shifted_char = chr((ord(char) - 65 - shift) % 26 + 65) if char.isupper() else chr((ord(char) - 97 - shift) % 26 + 97)
        encrypted_text += shifted_char
    else:
        # Keep non-alphabetic characters unchanged
        encrypted_text += char

print("Encrypted text:", encrypted_text)

In [ ]:
#44 Find the most frequent word in a string

In [ ]:
a=input("Enter the sentence : ")
l=a.split(" ")
b=set(l)
count,a=0,""
for i in b:
    if l.count("i")>count:
        count=l.count("i")
        a=i
print(i)

In [ ]:
#45 Find all unique words in a string

In [ ]:
a=input("Enter the sentence : ")
l=a.split()
b=set(l)
print(l,b)
for i in b:
    if l.count(i)==1:
        print(i,end=" ")

In [ ]:
#46 Count the number of syllables in a string

In [ ]:
a=input("Enter a word : ")
b=a.lower()
s="aeiou"
count=0
for i in a:
    if i in s:
        count+=1
print("The number of syllables in Entered string = ",count)

In [ ]:
#47 Check if a string contains any special characters

In [ ]:
a=input("Enter the string : ")
if a.isalnum():
    print(a," has no special characters")
else:
    print(a," has special characters")

In [ ]:
#48 Remove the nth word from a string

In [ ]:
a=input("Enter the sentence : ")
l=a.split()
n=int(input("Enter the position of removal : "))
l.pop(n-1)
print(" ".join(l))

In [ ]:
#49 Insert a word at the nth position in a string

In [ ]:
s="Hi how are doing"
l=s.split()
inp="Hello"
ip=int(input("Position : "))
pos=ip-1
l.insert(pos,inp)
print(" ".join(l))

In [ ]:
#50 Convert a CSV string to a list of lists

In [ ]:
csv_string = "a,b,c\n2,3,4\nx,y,z"
csv_rows = csv_string.split("\n")
csv_list = [row.split(",") for row in csv_rows]
print(csv_list)

In [ ]:
#LIST BASED PRACTICE PROBLEMS

In [ ]:
#1 Create a list with integers from 1 to 10

In [ ]:
l=[]
for i in range(1,11):
    l.append(i)
print(l)

In [ ]:
#2 Find the length of a list without using the `len()` function

In [ ]:
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
length=0
for i in l:
    length+=1
print("Length of the list is : ",length)

In [ ]:
#3 Append an element to the end of a list

In [ ]:
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l.append(11)
print(l)

In [ ]:
#4 Insert an element at a specific index in a list

In [ ]:
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l.insert(3,44)
print(l)

In [ ]:
#5 Remove an element from a list by its value

In [ ]:
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
ip=int(input("Enter the element to be removed = "))
l.remove(ip)
print(l)

In [ ]:
#6 Remove an element from a list by its index

In [ ]:
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
ip=int(input("Enter the index of the element to be removed = "))
l.pop(ip)
print(l)

In [ ]:
#7 Check if an element exists in a list

In [ ]:
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
ip=int(input("Enter an element to check its existance = "))
if ip in l:
    print("Element exists")
else:
    print("Element doesn't exist")

In [ ]:
#8 Find the index of the first occurrence of an element in a list

In [ ]:
l=[1, 2,"coming",3, 4, 5,"on", 6, 7,"the", 8, 9,"way", 10]
print(l.index('on'))

In [ ]:
#9 Count the occurrences of an element in a list

In [ ]:
l=[1, 2,"coming",2,3, 4, 5,"on",2, 6, 7,2,"the", 8, 9,"way",2, 10]
print(l.count(2))

In [ ]:
#10 Reverse the order of elements in a list

In [ ]:
l=[1, 2,"coming",2,3, 4, 5,"on",2, 6, 7,2,"the", 8, 9,"way",2, 10]
print(l[::-1])

In [ ]:
#11 Sort a list in ascending order.

In [ ]:
l=[1, 245, 3, 44, 5, 67, 37, 18, 9, 2]
l.sort()
print(l)

In [ ]:
#12 Sort a list in descending order

In [ ]:
l=[1, 245, 3, 44, 5, 67, 37, 18, 9, 2]
l.sort(reverse=True)
print(l)

In [ ]:
#13 Create a list of even numbers from 1 to 20

In [ ]:
l=[]
for i in range(1,21):
    if i%2==0:
        l.append(i)
print(l)

In [ ]:
#14 Create a list of odd numbers from 1 to 20

In [ ]:
l=[]
for i in range(1,21):
    if i%2!=0:
        l.append(i)
print(l)

In [ ]:
#15 Find the sum of all elements in a list

In [ ]:
l=[1, 245, 3, 44, 5, 67, 37, 18, 9, 2]
sum=0
for i in l:
    sum=sum+i
print(sum)

In [ ]:
#16 Find the maximum value in a list

In [ ]:
l=[1, 245, 3, 44, 5, 67, 37, 18, 9, 2]
sum=1
for i in l:
    if(i>sum):
        sum=i
print(sum)

In [ ]:
#17 Find the minimum value in a list

In [ ]:
l=[1, 245, 3, 44, 5, 67, 37, 18, 9,-23, 2]
sum=1
for i in l:
    if(i<sum):
        sum=i
print(sum)

In [ ]:
#18 Create a list of squares of numbers from 1 to 10

In [ ]:
l=[]
for i in range(1,11):
    l.append(i*i)
print(l)

In [ ]:
#19 Create a list of random numbers

In [ ]:
import random
random=[random.randint(1,100) for i in range(10)]
print(random)

In [ ]:
#20 Remove duplicates from a list.

In [ ]:
l=[1, 2,"coming",2,3, 4, 5,"on",2, 6, 7,2,"the", 8, 9,"way",2, 10]
s=set(l)
k=list(s)
print(k)

In [ ]:
#21 Find the common elements between two lists

In [ ]:
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
m=[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
common=[i for i in l if i in m]
print(common)

In [ ]:
#22 Find the difference between two lists

In [ ]:
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
m=[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
d1=[i for i in l if i not in m]
d2=[i for i in m if i not in l]
lst=d1.__add__(d2)
print(lst)

In [ ]:
#23 Merge two lists

In [ ]:
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
m=[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
lst=l.__add__(m)
s=set(lst)
print(list(s))

In [ ]:
#24 Multiply all elements in a list by 2

In [ ]:
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
m=[]
for i in l:
    m.append(i*2)
print(m)

In [ ]:
#25 Filter out all even numbers from a list

In [ ]:
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even=[x for x in l if %2==0]
print(even)

In [ ]:
#26 Convert a list of strings to a list of integers

In [ ]:
l=["1","3","4","5","6","7","8","9"]
m=[int(i) for i in l]
print(m)

In [ ]:
#27 Convert a list of integers to a list of strings

In [ ]:
l=[1, 3, 4, 5, 6, 7, 8, 9]
m=[str(i) for i in l]
print(m)

In [ ]:
#28 Flatten a nested list

In [ ]:
l=[[1, 2, 3], [4, 5], [6]]
m=[x for sublist in l for x in sublist]
print(m)

In [ ]:
#29 Create a list of the first 10 Fibonacci numbers

In [ ]:
fib=[0,1]
while len(fib)<10:
    n=fib[-1]+fib[-2]
    fib.append(n)
print(fib)

In [ ]:
#30 Check if a list is sorted

In [ ]:
l=[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
m=sorted(l)
if m==l:
    print("list is sorted")
else:
    print("list is not sorted")

In [ ]:
#31 Rotate a list to the left by `n` positions

In [ ]:
n=2
num= [1, 2, 3, 4, 5]
rl=num[n:]+num[:n]
print(rl)

In [ ]:
#32 Rotate a list to the right by `n` positions

In [ ]:
n=2
num= [1, 2, 3, 4, 5]
rl=num[-n:]+num[:-n]
print(rl)

In [ ]:
#33 Create a list of prime numbers up to 50

In [ ]:
primes = []
for num in range(2, 51):
    is_prime = True
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        primes.append(num)
print(primes)

In [ ]:
#34 Split a list into chunks of size `n`

In [ ]:
n=3
l=[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#35 Split a list into chunks of size `n`

In [ ]:
n=3
numbers=[1, 2, 3, 4, 5, 6, 7, 8, 9]
chunks=[numbers[i:i+n] for i in range(0,len(numbers),n)]
print(chunks)

In [ ]:
#36 Find the second largest number in a list

In [ ]:
l=[1, 245, 3, 44, 5, 67, 37, 18, 9, 2]
c=sorted(l)
print(c[-2])

In [ ]:
#37 Replace every element in a list with its square.

In [ ]:
l=[1, 245, 3, 44, 5, 67, 37, 18, 9, 2]
c=[]
for i in l:
    c.append(i*i)
print(c)

In [ ]:
#38 Shuffle the elements of a list randomly

In [ ]:
import random
l=[1, 245, 3, 44, 5, 67, 37, 18, 9, 2]
random.shuffle(l)
print(l)

In [ ]:
#39 Create a list of the first 10 factorial numbers

In [ ]:
factorials=[1]
for i in range(1,11):
    factorials.append(factorials[-1]*i)
print(factorials)

In [ ]:
#40 Check if two lists have at least one element in common

In [ ]:
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
m=[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
c=[]
for i in l:
    if i in m:
        c.append(i)
print("common elements = ",c)

In [ ]:
#41 Remove all elements from a list

In [ ]:
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l.clear()
print(l)

In [ ]:
#42 Replace negative numbers in a list with 0

In [ ]:
l=[1, 2, 3, 4,-6, 5, 6, 7,-34, 8, 9, 10,-22,-3]
l=[x if x>=0 else 0 for x in l]
print(l)

In [ ]:
#43 Convert a string into a list of words

In [ ]:
c="the database of the system is in a critical stage"
l=c.split()
print(l)
print(type(l))

In [ ]:
#44 Convert a list of words into a string

In [ ]:
l=['the', 'database', 'of', 'the', 'system', 'is', 'in', 'a', 'critical', 'stage']
print(" ".join(l))

In [ ]:
#45 Create a list of the first `n` powers of 2

In [ ]:
l=[]
n=10
for i in range(1,n+1):
    l.append(i*i)
print(l)

In [ ]:
#46 Find the longest string in a list of strings

In [ ]:
l=['the', 'database', 'of', 'the', 'system', 'is', 'in', 'a', 'stage']
m=l[0]
for i in l:
    if len(i)>len(m):
        m=i
print(m)

In [ ]:
#47 Find the shortest string in a list of strings

In [ ]:
l=['the', 'database', 'of', 'the', 'system', 'is', 'in', 'a', 'stage']
m=l[0]
for i in l:
    if len(i)<len(m):
        m=i
print(m)

In [ ]:
#48  Create a list of the first `n` triangular numbers

In [ ]:
n=5
l=[i*(i + 1)//2 for i in range(1,n+1)]
print(l)

In [ ]:
#49 Check if a list contains another list as a subsequence

In [ ]:
l1=[1, 2, 3, 4, 5]
l2=[2, 3, 4]
m=all(x in l1 for x in l2)
print(m)

In [ ]:
#50 Swap two elements in a list by their indices

In [ ]:
l=[1, 2, 3, 4, 5]
n1,n2=1,3
l[n1],l[n2]=l[n2],l[n1]
print(l)

In [ ]:
#TUPLE BASED PRACTICE PROBLEMS

In [ ]:
#1 Create a tuple with integers from 1 to 5

In [ ]:
t=(1,2,3,4,5)
print(t,type(t))

In [ ]:
#2 Access the third element of a tuple

In [ ]:
t=(1,2,3,4,5)
print(t[2])

In [ ]:
#3 Find the length of a tuple without using the `len()` function

In [ ]:
t=(1,2,3,4,5)
len=0
for i in t:
    len+=1
print(len)

In [ ]:
#4 Count the occurrences of an element in a tuple

In [ ]:
t=(1,2,3,4,5,5)
t=t.count(5)
print(t)

In [ ]:
#5 Find the index of the first occurrence of an element in a tuple

In [ ]:
t=(1,2,3,4,5,5)
t=t.index(5)
print(t)

In [ ]:
#6 Check if an element exists in a tuple

In [ ]:
t=(1,2,3,4,5,5)
e=2 in t
print(e)

In [ ]:
#7 Convert a tuple to a list

In [ ]:
t=(1,2,3,4,5,5)
print(list(t))

In [ ]:
#8 Convert a list to a tuple

In [ ]:
l=[1, 2, 3, 4, 5, 5]
print(tuple(l))

In [ ]:
#9 Unpack the elements of a tuple into variables

In [ ]:
t=(1, 2, 3, 4, 5)
a,b,c,d,e=t
print(a, b, c, d, e)

In [ ]:
#10 Create a tuple of even numbers from 1 to 10

In [ ]:
t=tuple(range(2,11,2))
print(t)

In [ ]:
#11 Create a tuple of odd numbers from 1 to 10

In [ ]:
t=tuple(range(1,11,2))
print(t)

In [ ]:
#12 Concatenate two tuples

In [ ]:
t=(1, 2, 3, 4, 5)
u=(6,7,8,9,10)
print(t+u)

In [ ]:
#13 Repeat a tuple three times

In [ ]:
t=(1, 2, 3, 4, 5)
print(t*3)

In [ ]:
#14 Check if a tuple is empty

In [ ]:
t=()
u=len(t)==0
print(u)

In [ ]:
#15 Create a nested tuple

In [ ]:
nt=((1, 2), (3, 4), (5, 6))
print(nt)

In [ ]:
#16 Access the first element of a nested tuple

In [ ]:
nt=((1, 2), (3, 4), (5, 6))
print(nt[0][0])

In [ ]:
#17 Create a tuple with a single element

In [ ]:
t=(4,)
print(type(t))

In [ ]:
#18 Compare two tuples

In [ ]:
t=(1, 2, 3, 4, 5)
u=(6,7,8,9,10)
x=u==t
print(x)

In [ ]:
#19 Delete a tuple

In [ ]:
t=(1, 2, 3, 4, 5)
del t
print(t)

In [ ]:
#20 Slice a tuple

In [ ]:
t=(1, 2, 3, 4, 5)
print(t[1:3])

In [ ]:
#21 Find the maximum value in a tuple

In [ ]:
t=(1, 2, 3, 4, 5)
u=max(t)
print(u)

In [ ]:
#22 Find the minimum value in a tuple

In [ ]:
t=(1, 2, 3, 4, 5)
u=min(t)
print(u)

In [ ]:
#23 Convert a string to a tuple of characters

In [ ]:
s="Heading towards the horizon"
t=tuple(s.split())
print(t)

In [ ]:
#24 Convert a tuple of characters to a string

In [ ]:
t=('Heading', 'towards', 'the', 'horizon')
print(" ".join(t))

In [ ]:
#25 Create a tuple from multiple data types

In [ ]:
t = (1, "hello", 3.14, True)
print(t)

In [ ]:
#26 Check if two tuples are identical

In [ ]:
t = (1, 2, 3)
u = (1, 2, 3)
x=t==u
print(x)

In [ ]:
#27 Sort the elements of a tuple

In [ ]:
t=(23,3,456,7,87,89,8)
u=sorted(t)
print(u)

In [ ]:
#28 Convert a tuple of integers to a tuple of strings

In [ ]:
t=(23,3,456,7,87,89,8)
u=tuple((str(i) for i in t))
print(u)

In [ ]:
#29 Convert a tuple of strings to a tuple of integers

In [ ]:
t=('23', '3', '456', '7', '87', '89', '8')
u=tuple((int(i) for i in t))
print(u)

In [ ]:
#30 Merge two tuples

In [ ]:
t=(1, 2, 3, 4, 5)
u=(6,7,8,9,10)
x=t+u
print(x)

In [ ]:
#31 Flatten a nested tuple

In [ ]:
nt=((1, 2), (3, 4), (5, 6))
ft=tuple(i for x in nt for i in x)
print(ft)

In [ ]:
#32 Create a tuple of the first 5 prime numbers

In [ ]:
t=(2,3,5,7,11)
print(t)

In [ ]:
#33 Check if a tuple is a palindrome

In [ ]:
t=(1,3,1)
x=t==t[::-1]
print(x)

In [ ]:
#34 Create a tuple of squares of numbers from 1 to 5

In [ ]:
t=tuple(i*i for i in range(1,6))
print(t)

In [ ]:
#35 Filter out all even numbers from a tuple

In [ ]:
t=(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
t=tuple(i for i in t if i%2==0)
print(t)

In [ ]:
#36 Multiply all elements in a tuple by 2

In [ ]:
t=(2,3,5,7,11)
t=tuple(i*2 for i in t)
print(t)

In [ ]:
#37 Create a tuple of random numbers

In [ ]:
import random
t= tuple(random.randint(1, 100) for i in range(5))
print(t)

In [ ]:
#38 Check if a tuple is sorted

In [ ]:
t=(2,3,5,7,11)
x=tuple(sorted(t))
y=x==t
print(y)

In [ ]:
#39 Rotate a tuple to the left by `n` positions

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
n = 2
rotated_tuple = my_tuple[n:] + my_tuple[:n]
print(f"Tuple rotated to the left by {n} positions:", rotated_tuple)

In [ ]:
#40 Rotate a tuple to the right by `n` positions

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
n = 2
rotated_tuple = my_tuple[-n:] + my_tuple[:-n]
print(f"Tuple rotated to the right by {n} positions:", rotated_tuple)

In [ ]:
#41 Create a tuple of the first 5 Fibonacci numbers

In [ ]:
fib=(0,1,1,2,3)
print(fib)

In [ ]:
#42 Create a tuple from user input

In [ ]:
i=input("Enter elements separated by space: ")
print(tuple(i.split()))

In [ ]:
#43 Swap two elements in a tuple

In [ ]:
t=(1, 2, 3, 4, 5)
l=list(t)
l[1],l[3]=l[3],l[1]
t=tuple(l)
print(t)

In [ ]:
#44 Reverse the elements of a tuple

In [ ]:
t=(1, 2, 3, 4, 5)
print(t[::-1])

In [ ]:
#45 Create a tuple of the first `n` powers of 2

In [ ]:
n=11
t=tuple(i*i for i in range(1,n))
print(t)

In [ ]:
#46 Find the longest string in a tuple of strings

In [ ]:
t=('the', 'galaxy', 'of', 'the', 'universe')
p=t[0]
for i in t:
    if len(i)>len(p):
        p=i
print(p)

In [ ]:
#47 Find the shortest string in a tuple of strings

In [ ]:
t=('the', 'galaxy', 'of', 'the', 'universe')
p=t[0]
for i in t:
    if len(i)<len(p):
        p=i
print(p)

In [ ]:
#48 Create a tuple of the first `n` triangular numbers

In [ ]:
n = 5
triangular_numbers = tuple(i * (i + 1) // 2 for i in range(1, n+1))
print(f"Tuple of the first {n} triangular numbers:", triangular_numbers)

In [ ]:
#49 Check if a tuple contains another tuple as a subsequence

In [ ]:
main_tuple = (1, 2, 3, 4, 5, 6, 7)
sub_tuple = (4, 5)
is_subsequence = any(sub_tuple == main_tuple[i:i+len(sub_tuple)] for i in range(len(main_tuple) - len(sub_tuple) + 1))
print("Does the main tuple contain the sub tuple as a subsequence:", is_subsequence)

In [ ]:
#50 Create a tuple of alternating 1s and 0s of length `n`

In [ ]:
n=20
t=tuple(1 if i%2==0 else 0 for i in range(n))
print(t)

In [ ]:
#SET BASED PRACTICE PROBLEMS

In [ ]:
#1 Create a set with integers from 1 to 5

In [ ]:
s=set(i for i in range(1,6))
print(s)

In [ ]:
#2 Add an element to a set

In [ ]:
s={1, 2, 3, 4, 5}
s.add(6)
print(s)

In [ ]:
#3 Remove an element from a set

In [ ]:
s={1, 2, 3, 4, 5}
s.remove(3)
print(s)

In [ ]:
#4 Check if an element exists in a set

In [ ]:
s={1, 2, 3, 4, 5}
t=4 in s
print(t)

In [ ]:
#5 Find the length of a set without using the `len()` function

In [ ]:
s={1, 2, 3, 4, 5}
len=0
for i in s:
    len+=1
print(len)

In [ ]:
#6 Clear all elements from a set

In [ ]:
s={1, 2, 3, 4, 5}
s.clear()
print(s)

In [ ]:
#7 Create a set of even numbers from 1 to 10

In [ ]:
s=set(i for i in range(1,11) if i%2==0)
print(s)

In [ ]:
#8 Create a set of odd numbers from 1 to 10

In [ ]:
s=set(i for i in range(1,11) if i%2!=0)
print(s)

In [ ]:
#9 Find the union of two sets

In [ ]:
s1= {1, 2, 3, 4, 5,6}
s2= {6, 7, 8}
s=s1.union(s2)
print(s)

In [ ]:
#10 Find the intersection of two sets

In [ ]:
s1= {1, 2, 3, 4, 5,6}
s2= {6, 7, 8}
s=s1.intersection(s2)
print(s)

In [ ]:
#11 Find the difference between two sets

In [ ]:
s1= {1, 2, 3, 4, 5,6}
s2= {6, 7, 8}
s=s1.difference(s2)
print(s)

In [ ]:
#12 Check if a set is a subset of another set

In [ ]:
s1= {1, 2, 3, 4, 5,6}
s2= {6, 7, 8}
s=s1.issubset(s2)
print(s)

In [ ]:
#13 Check if a set is a superset of another set

In [ ]:
s1= {1, 2, 3, 4, 5,6}
s2= {6, 7, 8}
s=s1.issuperset(s2)
print(s)

In [ ]:
#14 Create a set from a list

In [ ]:
l=[1, 2, 3, 4, 5]
print(set(l))

In [ ]:
#15 Convert a set to a list

In [ ]:
s={1, 2, 3, 4, 5}
print(list(s))

In [ ]:
#16 Remove a random element from a set

In [ ]:
s={1, 2, 3, 4, 5}
s.pop()
print(s)

In [ ]:
#17 Pop an element from a set

In [ ]:
s={1, 2, 3, 4, 5}
s.pop()
print(s)

In [ ]:
#18 Check if two sets have no elements in common

In [ ]:
s1= {1, 2, 3, 4, 5}
s2= {6, 7, 8}
s=s1.isdisjoint(s2)
print(s)

In [ ]:
#19 Find the symmetric difference between two sets

In [ ]:
s1= {1, 2, 3, 4, 5}
s2= {6, 7, 8}
s=s1.symmetric_difference(s2)
print(s)

In [ ]:
#20 Update a set with elements from another set

In [ ]:
s1= {1, 2, 3, 4, 5}
s2= {6, 7, 8}
s=s1.update(s2)
print(s1)

In [ ]:
#21 Create a set of the first 5 prime numbers

In [ ]:
s={2, 3, 5, 7, 11}
print(s)

In [ ]:
#22 Check if two sets are identical

In [ ]:
s1= {1, 2, 3, 4, 5}
s2= {6, 7, 8}
s=s1==s2
print(s)

In [ ]:
#23 Create a frozen set

In [ ]:
s1= {1, 2, 3, 4, 5}
s=frozenset(s1)
print(s)

In [ ]:
#24 Check if a set is disjoint with another set.

In [ ]:
s1= {1, 2, 3, 4, 5}
s2= {6, 7, 8}
s=s1.isdisjoint(s2)
print(s)

In [ ]:
#25 Create a set of squares of numbers from 1 to 5

In [ ]:
s=set(i*i for i in range(1,6))
print(s)

In [ ]:
#26 Filter out all even numbers from a set

In [ ]:
s1={1, 2, 3, 4, 5, 6, 7, 8}
s=set(i for i in s1 if i%2==0)
print(s)

In [ ]:
#27 Multiply all elements in a set by 2

In [ ]:
s1={1, 2, 3, 4, 5, 6, 7, 8}
s=set(i*2 for i in s1)
print(s)

In [ ]:
#28 Create a set of random numbers

In [ ]:
import random
s=set(random.randint(1,100) for i in range(5))
print(s)

In [ ]:
#29 Check if a set is empty

In [ ]:
s = {}
e = not bool(s)
print("Is the set empty?", e)

In [ ]:
#30 Create a nested set

In [ ]:
s1= {1, 2, 3, 4, 5}
s2= {6, 7, 8}
ns= {frozenset(s1), frozenset(s2)}
print(ns)

In [ ]:
#31 Remove an element from a set using the discard method

In [ ]:
s={1, 2, 3, 4, 5}
s.discard(5)
print(s)

In [ ]:
#32 Compare two sets

In [ ]:
s1= {1, 2, 3, 4, 5}
s2= {6, 7, 8}
s=s1==s2
print(s)

In [ ]:
#33 Create a set from a string

In [ ]:
s="The stars in the sky"
l=s.split()
print(set(l))

In [ ]:
#34 Convert a set of strings to a set of integers

In [ ]:
st={"1", "2", "3", "4", "5"}
s=set(int(x) for x in st)
print(s)

In [ ]:
#35 Convert a set of integers to a set of strings

In [ ]:
s1={1, 2, 3, 4, 5}
s=set(str(x) for x in st)
print(s)

In [ ]:
#36 Create a set from a tuple

In [ ]:
t=(1, 2, 3, 4, 5)
print(set(t))

In [ ]:
#37 Convert a set to a tuple

In [ ]:
s={1, 2, 3, 4, 5}
print(tuple(s))

In [ ]:
#38 Find the maximum value in a set

In [ ]:
s={1, 2, 3, 4, 5}
m=max(s)
print(m)

In [ ]:
#39 Find the minimum value in a set

In [ ]:
s={1, 2, 3, 4, 5}
m=min(s)
print(m)

In [ ]:
#40 Create a set from user input

In [ ]:
i=input("Enter elements separated by space: ")
print(set(i.split()))

In [ ]:
#41 Check if the intersection of two sets is empty

In [ ]:
s1={1, 2, 3, 4, 5}
s2={6, 7, 8}
s=len(s1.intersection(s2))==0
print(s)

In [ ]:
#42 Create a set of the first 5 Fibonacci numbers

In [ ]:
fib={0, 1, 1, 2, 3}
print(fib)

In [ ]:
#43 Remove duplicates from a list using sets

In [ ]:
l=[1, 2, 2, 3, 4, 4, 5]
lf=list(set(l))
print(lf)

In [ ]:
#44 Check if two sets have the same elements, regardless of their count

In [ ]:
s1={1, 2, 3, 4, 5,6}
s2={6, 7, 8}
s=s1.isdisjoint(s2)
if s==True:
    print("no same elements")
else:
    print("same elements are there")

In [ ]:
#45 Create a set of the first `n` powers of 2

In [ ]:
n=11
s=set(i*i for i in range(1,11))
print(sorted(s))

In [ ]:
#46 Find the common elements between a set and a list

In [ ]:
s1={1, 2, 3, 4, 5,6}
l=[1, 2, 2, 3, 4, 4, 5]
s2=set(l)
s=set(s1.intersection(s2))
print(s)

In [ ]:
#47 Create a set of the first `n` triangular numbers

In [ ]:
n = 5
triangular_numbers_set = {i * (i + 1) // 2 for i in range(1, n+1)}
print(f"Set of the first {n} triangular numbers:", triangular_numbers_set)

In [ ]:
#48 Check if a set contains another set as a subset

In [ ]:
s1={1, 2, 3, 4, 5}
s2={6, 7, 8}
s=s1.issubset(s2)
print(s)

In [ ]:
#49 Create a set of alternating 1s and 0s of length `n`

In [ ]:
n=10
s=set(1 if i%2==0 else 0 for i in range(n))
print(s)

In [ ]:
#5O Merge multiple sets into one

In [ ]:
s1={1, 2, 3, 4, 5}
s2={6, 7, 8}
s3={1, 9, 3}
s4={4, 5, 10}
s=set(s1.union(s2,s3,s4))
print(s)